body {
  font-family: "Ubuntu";
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.app-half {
  flex: 1;
  text-align: center;
  min-height: 100vh;
  padding-top: 80px;

  padding-left: 20px;
  padding-right: 20px;
}

.has-primary-bg {
  background-color: #111827
}

a {
  color: #bd29a9;
  text-decoration: underline;
}

.has-secondary-color {
  color: #2CD4BF;
}

.has-third-color {
  color: #111827;
}

.social-media-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.social-media-icon {
  margin: 8px;  
  filter: brightness(0) invert(1);  
  width: 24px;
  height: 24px;
}

.social-media-icon:hover {
  filter: invert(65%) sepia(95%) saturate(334%) hue-rotate(120deg) brightness(91%) contrast(93%);
}

.tech-media-icon {
  margin: 16px;  
  width: 68px;
  height: 68px;
}

.has-white-text {
  color: white;
}

.profile-image-large {
  width: 343px;
  height: 319px;

  outline: 3px solid #2CD4BF;
  border: #111827 solid 5px;

  border-radius: 228px;
  margin-bottom: 40px;
}

.content-container {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.justify-content-left {
  justify-content: left;
}

.button {
  text-decoration: none;
  background-color: #2CD4BF;
  color: #111827;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
}

.mb-40 {
  margin-bottom: 40px;
} 

.button:hover {
  background-color: #111827;
  color: white;
}