body {
	font-family: "Ubuntu";
}

.app {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;

	.app-half {
		flex: 1;
		text-align: center;
		min-height: 100vh;
		padding-top: 80px;
	
		padding-left: 20px;
		padding-right: 20px;
	}
}

a {
	color: #bd29a9;
	text-decoration: underline;
}

.profile-image-large {
	width: 343px;
	height: 319px;

	border: 3px solid #2CD4BF;
	padding: 3px;

	border-radius: 228px;
	margin-bottom: 40px;
}

.content-container {
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

.nav {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	  
	li {
		margin-left: 10px;
		margin-right: 10px;
		padding-bottom: 3px;
		display: inline;

		&.main-nav-active {
			border-bottom: 2px solid #111827;
		}

		&:hover {
			border-bottom: 2px solid #111827;
			cursor: pointer;
        }
	}
}