.has-secondary-color {
	color: #2CD4BF;
}

.has-third-color {
	color: #111827;
}


.has-white-text {
	color: white;
}

.has-primary-bg {
	background-color: #111827
}

.mb-60 {
	margin-bottom: 60px;
}

.justify-content-left {
	justify-content: left;
}

.mb-40 {
	margin-bottom: 40px;
} 

.mt-40 {
	margin-top: 40px;
}

.hidden {
	display: none !important;
}
